.cart-components {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  text-align: center;
}
.order-section {
  flex: 0.7;
  max-width: 450px;
}
.order-section .check-out {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 0 0 20px 0;
  transition: 0.3s;
  cursor: pointer;
}
.order-summary {
  border: 1px solid black;
  padding: 20px 0 0;
}

.order-summary h1 {
  text-transform: uppercase;
}
.total-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  text-transform: uppercase;
}
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  text-transform: uppercase;
}
.cancel {
  width: 300px;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 20px 0 0 0;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
.order-summary button:hover,
.order-section .check-out:hover {
  color: rgb(168, 167, 167);
}
.cart-components-details {
  margin: 20px 0 0 105px;
  font-size: 25px;
}
.cart-com-total-price {
  font-size: 20px;
  display: block;
}
.cart-components-height {
  min-height: calc(100vh - 170px);
}
.cart-com-total-amount {
  font-size: 20px;
  display: block;
}
#no-items-found {
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}

@media (max-width: 991px) {
  .cart-components {
    flex-direction: column;
  }
  .order-section {
    flex: 1;
    width: 100%;
    min-width: 100%;
  }
  .items-section {
    order: 1;
  }
}
@media (max-width: 468px) {
  .cart-components-details {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
  }
  .cart-components {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    text-align: center;
  }
}
