.cart-item {
  width: 730px;
  display: flex;
  height: 245px;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
  margin: 10px 0;
}
.cart-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #ececec;
  transition: 0.7s ease;
  z-index: -1;
}
.cart-item:hover::before {
  width: 100%;
}
.cart-item .cart-item-img {
  width: 250px;
}

.cart-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cart-item-title {
  margin: 10px 0 10px 10px;
  text-align: start;
}
.product-name {
  display: block;
  margin: 14px 0;
}
.product-price {
  margin: 14px 0;
  display: block;
}
.cart-item-title-quantity {
  margin: 10px 0 10px 10px;
  text-align: start;
}
.product-quantity {
  margin: 14px 0;
  display: block;
}
.product-total-price {
  margin: 14px 0;
  display: block;
}
.cart-item-btns {
  position: relative;
  top: 0px;
}
.cart-item-btns button {
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  font-size: 20px;
  padding: 5px;
  width: 300px;
  text-align: center;
  display: block;
  margin: 10px;
}
.cart-item-btns button:hover {
  color: rgb(168, 167, 167);
}
@media (max-width: 991px) {
  .cart-item {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .cart-item {
    height: 150px;
  }
  .cart-item-btns button {
    width: 150px;
  }
  .cart-item .cart-item-img {
    width: 150px;
    object-fit: contain;
  }
  .product-name {
    display: block;
    margin: 3px 0;
  }
  .product-price {
    margin: 3px 0;
    display: block;
  }
  .product-quantity {
    margin: 3px 0;
    display: block;
  }
  .cart-item-title {
    margin: 3px 0 5px 10px;
  }
  .cart-item-title-quantity {
    margin: 3px 0 5px 10px;
  }
  .product-total-price {
    margin: 3px 0;
    display: block;
  }
  .cart-item-btns {
    position: relative;
    margin: 0;
    display: flex;
  }
  .cart-item-btns button {
    margin: 0px 5px;
  }
}
@media (max-width: 468px) {
  .order-summary {
    border: 1px solid black;
    padding: 10px 0 0;
  }
  .order-summary h1 {
    font-size: 25px;
  }
  .cart-item {
    height: 100px;
  }
  .cart-item .cart-item-img {
    width: 100px;
    object-fit: contain;
  }
  .cart-item-title {
    margin: 0 0 0 5px;
    font-size: 12px;
  }
  .cart-item-title-quantity {
    margin: 0 0 0 5px;
    font-size: 12px;
  }

  .cart-item-btns {
    margin: 5px 0;
  }
  .cart-item-btns button {
    width: 50px;
    font-size: 11px;
    height: 25px;
  }
}
